<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.product.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadServlet</servlet-name>
        <servlet-class>controller.product.LoadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByCate</servlet-name>
        <servlet-class>controller.SearchByCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByPrice</servlet-name>
        <servlet-class>controller.product.SearchByPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginationServlet</servlet-name>
        <servlet-class>controller.product.PaginationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartServlet</servlet-name>
        <servlet-class>controller.cart.AddCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCartServlet</servlet-name>
        <servlet-class>controller.cart.LoadCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadManageServlet</servlet-name>
        <servlet-class>controller.LoadManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>controller.cart.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadInfoServlet</servlet-name>
        <servlet-class>controller.Account.LoadInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOrderServlet</servlet-name>
        <servlet-class>controller.LoadOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductByNameOrTitleServlet</servlet-name>
        <servlet-class>controller.product.SearchProductByNameOrTitleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>controller.AddOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticalServlet</servlet-name>
        <servlet-class>controller.StatisticalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewAccServlet</servlet-name>
        <servlet-class>controller.Account.AddNewAccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccServlet</servlet-name>
        <servlet-class>controller.Account.UpdateAccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccServlet</servlet-name>
        <servlet-class>controller.Account.DeleteAccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAccServlet</servlet-name>
        <servlet-class>controller.Account.LoadAccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewProductServlet</servlet-name>
        <servlet-class>controller.product.AddNewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.product.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.product.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCateServlet</servlet-name>
        <servlet-class>controller.EditCateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCateServlet</servlet-name>
        <servlet-class>controller.AddCateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCateServlet</servlet-name>
        <servlet-class>controller.DeleteCateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByCate</servlet-name>
        <url-pattern>/searchbycate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByPrice</servlet-name>
        <url-pattern>/searchprice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginationServlet</servlet-name>
        <url-pattern>/pagin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCartServlet</servlet-name>
        <url-pattern>/carthome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadManageServlet</servlet-name>
        <url-pattern>/listManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadInfoServlet</servlet-name>
        <url-pattern>/listinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadOrderServlet</servlet-name>
        <url-pattern>/listorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductByNameOrTitleServlet</servlet-name>
        <url-pattern>/search2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticalServlet</servlet-name>
        <url-pattern>/statistical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewAccServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccServlet</servlet-name>
        <url-pattern>/deleteacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAccServlet</servlet-name>
        <url-pattern>/listAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewProductServlet</servlet-name>
        <url-pattern>/newproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCateServlet</servlet-name>
        <url-pattern>/editcate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCateServlet</servlet-name>
        <url-pattern>/addcate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCateServlet</servlet-name>
        <url-pattern>/deletecate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
